@import '../../styles/colors.scss';

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &.letter {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100%;
    background-color: $white;
  }

  &.primaryBtn {
    color: $white;
    background-color: $ocher-90;
    font-size: 2.8rem;
  }
}
