@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.btn {
  color: $black;
  background-color: $white;
  border: 1.5px solid $black;
  border-radius: $brad-m;
  height: 2.7rem;
}

.btnLarge {
  width: 33%;
  font-weight: 700;
}

.btnSmall {
  width: 20%;
  display: flex;
  justify-content: center;

  :nth-child(1) {
    align-self: center;
    width: 1.5rem;
    height: 1.5rem;
  }
}
