@import '../../styles/mediaQueries.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.burgerWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-basis: 0;

  .burgerIcon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    @include desktop {
      margin-right: 4rem;
    }
  }
}

.modal {
  position: absolute;
  right: 0;
  top: 0;
  height: 10rem;
  width: 100%;
  background-color: $black;
  border: 2px solid #f4f4f4;
  color: #f4f4f4;

  .closeBtn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;

    &:hover {
      cursor: pointer;
      color: $white-75;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-xxl;
    font-weight: 500;
    height: 100%;

    li {
      padding-left: 2rem;
      width: 100%;
    }
  }
}

@include tablet {
  .modal {
    width: 15rem;
    border-bottom-left-radius: $brad-m;

    ul {
      gap: $gap-l;
    }
  }
}
