$brad-sm: 5px;
$brad-m: 10px;
$brad-l: 15px;

$gap-xs: 0.25rem;
$gap-s: 0.5rem;
$gap-m: 0.75rem;
$gap-l: 1rem;
$gap-xl: 1.25rem;
$gap-xxl: 1.5rem;

$maxWidthMainContainer: 25rem;
$heightRunningSection: 4rem;
