@import '@/styles/mediaQueries.scss';
@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.game {
  position: relative;
  max-width: $maxWidthMainContainer;
  min-height: calc(100dvh - $heightRunningSection * 2);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: $gap-l;
  z-index: 4;

  @include mobile {
    gap: 2rem;
  }

  @include tablet {
    gap: 3rem;
  }
  @include desktop {
    gap: 4rem;
  }
}

.currentInput {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 1rem;
  color: $white;
  background-color: rgba($color: $white, $alpha: 0.2);
  border: none;
  border-radius: $brad-sm;
  cursor: default;
  z-index: 5;

  &:focus {
    outline: none;
  }
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@mixin posFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bgTop {
  @include posFixed();
  background: url(../../assets/bg_layer_top.webp) center center/cover no-repeat;
  max-height: 15vw;
  min-height: 15rem;
  z-index: 3;
}
.topAnimation {
  animation: zoomInTop 1s ease-in-out;
}
.bgCenter {
  @include posFixed();
  background: url(../../assets/bg_layer_center.webp) center center/cover no-repeat;
  z-index: -2;
  transform: scale(1);
}
.centerAnimation {
  animation: zoomInCenter 1s ease-in-out;
}
.bgMain {
  @include posFixed();
  width: 150%;
  left: -25%;
  background: url(../../assets/bg_layer_background.webp) center center/cover no-repeat;
  z-index: -3;
}
.mainAnimation {
  animation: zoomInMain 1s ease-in-out;
}

@keyframes zoomInTop {
  50% {
    transform: scale(1.14) translateY(-10%);
  }
}

@keyframes zoomInCenter {
  50% {
    transform: scale(1.07);
  }
}

@keyframes zoomInMain {
  50% {
    transform: scale(0.95);
  }
}
