@import '../../styles/mediaQueries.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.currentInput {
  width: 320px;
  height: 1rem;
  text-align: center;
  margin: 1rem auto;
}

.btnsContainer {
  max-width: 320px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;

  @include tablet {
    max-width: 400px;
  }
}
