@import '@/styles/mediaQueries.scss';
@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.rulesWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .leavesIcon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
