@import '@/styles/colors.scss';
@import '@/styles/variables.scss';

.header {
  position: relative;
  width: 100%;
  height: $heightRunningSection;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gap-m;
  z-index: 5;
}
