@import '@/styles/mediaQueries.scss';
@import '@/styles/colors.scss';
@import '@/styles/mediaQueries.scss';
@import '@/styles/colors.scss';

.gridWrapper {
  position: relative;
  width: 100%;
}

.toastBase {
  min-width: max-content;
  background: $white;
  border: 1px solid #333333;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    '. letterT .'
    'letterLT . letterRT'
    '. letterC  .'
    'letterBL .  letterBR'
    '. letterB  .';

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :nth-child(1) {
    grid-area: letterC;

    button {
      color: $white;
      background-color: $ocher-90;
      font-size: 2.8rem;
    }
  }

  :nth-child(2) {
    grid-area: letterT;
  }

  :nth-child(3) {
    grid-area: letterLT;
  }

  :nth-child(4) {
    grid-area: letterRT;
  }

  :nth-child(5) {
    grid-area: letterBL;
  }

  :nth-child(6) {
    grid-area: letterBR;
  }

  :nth-child(7) {
    grid-area: letterB;
  }

  .letter {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100%;
    background-color: $white;
  }
}
