@import '@/styles/mediaQueries.scss';
@import '@/styles/colors.scss';
@import '@/styles/mediaQueries.scss';
@import '@/styles/colors.scss';

.gridWrapper {
  position: relative;
  width: calc(100% - 2rem);
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.toastBase {
  width: fit-content;
  background: $white;
  border: 1px solid $black;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    '. letterT .'
    'letterLT . letterRT'
    '. letterC  .'
    'letterBL .  letterBR'
    '. letterB  .';

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    z-index: 2;
  }

  :nth-child(1) {
    grid-area: letterC;

    button {
      color: $white;
      background-color: $ocher-90;
    }
    img {
      z-index: 1;
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(10px);
      }
    }
  }

  :nth-child(2) {
    grid-area: letterT;

    img {
      transform: translateY(5px);
    }
  }

  :nth-child(3) {
    grid-area: letterLT;
    img {
      transform: rotate(-58deg);
    }
  }

  :nth-child(4) {
    grid-area: letterRT;
    img {
      transform: rotate(60deg);
    }
  }

  :nth-child(5) {
    grid-area: letterBL;
    img {
      transform: rotate(-125deg);
    }
  }

  :nth-child(6) {
    grid-area: letterBR;
    img {
      transform: rotate(120deg);
    }
  }

  :nth-child(7) {
    grid-area: letterB;
    img {
      transform: rotate(185deg) translateY(5px);
    }
  }
}
